<div class="container" ng-controller="CteComponent" >
    <p><b>Cadastro de CT-e</b></p>
    <div >
        <button style="cursor:pointer; " class="btn btn-primary btn-sm" (click)="emitir(cte)">Emitir</button>
        <button style="margin-left:10px; "type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">Cancelar</button>
      </div>
    <hr>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Geral</a></li>
        <li><a data-toggle="tab" href="#menu1">Emitente</a></li>
        <li><a data-toggle="tab" href="#menu2">Remetente</a></li>
        <li><a data-toggle="tab" href="#menu3">Destinatário</a></li>
        <li><a data-toggle="tab" href="#menu4">Prestação de serviços</a></li>
        <li><a data-toggle="tab" href="#menu5">Outros</a></li>
    </ul>


    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <div class="form-group">
                <label for="cnpj" style="float: left; width: 70px; font-size: 0.9em;">CNPJ</label>
                <div class="col-sm-4">
                  <input [(ngModel)]="cte.cnpj"  class="form-control" id="cnpj" type="text">
                </div>

                <label for="modelo" style="float: left; width: 70px; font-size: 0.9em;">Modelo</label>
                <div class="col-sm-2">
                  <input  [(ngModel)]="cte.modelo" class="form-control" id="modelo" disabled>
                </div>

                <label for="tipoEmissao" style="float: left; width: 120px; margin-top: 2px;font-size: 0.9em;">Tipo de emissão</label>
                <div class="col-sm-3"  style="float: left; margin-top: 2px; width: 310px;">
                    <select class="form-control" id="tipoEmissao" [(ngModel)]="cte.tipoEmissao" disabled>
                        <option value="1">1 - Normal</option>
                        <option value="3">3 - Regime Especial NFF</option>
                        <option value="4">4 - EPEC pela SVC</option>
                        <option value="5">5 - Contingência FSDA</option>
                        <option value="7">7 - Autorização pela SVC-RS</option>
                        <option value="8">8 - Autorização pela SVC-SP</option>
                    </select>
                </div>

                <label for="cfop" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">CFOP</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 160px;">
                  <input class="form-control" id="cfop" type="text" [(ngModel)]="cte.cfop">
                </div>

                <label for="tpImp" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">Impressão</label>
                <div class="col-sm-4"  style="float: left; margin-top: 2px;  width: 150px">
                    <select class="form-control" id="tpImp" [(ngModel)]="cte.tpImp">
                        <option value="1">1 - Retrato</option>
                        <option value="2">2 - Paisagem</option>
                    </select>
                </div>

                <label for="natOp" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">Natureza</label>
                <div class="col-sm-5" style="float: left; margin-top: 2px; width: 620px" title="Natureza da operação">
                  <input class="form-control" id="natOp" type="text" [(ngModel)]="cte.natOp">
                </div>               

                <label for="numero" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">Número</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 160px;">
                  <input class="form-control" id="numero" type="text" [(ngModel)]="cte.numero">
                </div>

                <label for="serie" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">Série</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 150px;">
                  <input class="form-control" id="serie" type="text" [(ngModel)]="cte.serie">
                </div>

                <label for="tpCTe" style="float: left; width: 70px; font-size: 0.9em;">Tipo CT-e</label>
                <div class="col-sm-2" style="margin-top: 2px;">
                    <select class="form-control" id="tpCTe" [(ngModel)]="cte.tpCTe">
                        <option value="0">0 - CTe Normal</option>
                        <option value="1">1 - CTe Complementar</option>
                        <option value="3">3 - CTe de Substituição</option>
                    </select>
                </div>

                <label for="xMunEnv" style="float: left; width: 120px; margin-top: 2px; font-size: 0.9em;">Mun. Enviado</label>
                <div class="col-sm-3"  style="float: left; margin-top: 2px; width: 310px;" title="Nome do Município de envio do CTe (de
                onde o documento foi transmitido)">
                    <input class="form-control" id="xMunEnv" type="text" [(ngModel)]="cte.xMunEnv">
                </div>

                <label for="modal" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">Modal</label>
                <div  class="col-sm-2"  style="float: left; margin-top: 2px;  width: 160px;">
                    <select class="form-control" id="modal" [(ngModel)]="cte.modal">
                        <option value="01">01-Rodoviário</option>
                        <option value="02">02-Aéreo</option>
                        <option value="03">03-Aquaviário</option>
                        <option value="04">04-Ferroviário</option>
                        <option value="05">05-Dutoviário</option>
                        <option value="06">06-Multimodal</option>
                    </select>
                </div>

                <label for="tpServ" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">Tipo Serv.</label>
                <div class="col-sm-4"  style="float: left; margin-top: 2px;  width: 150px" title="Tipo de serviço">
                    <select class="form-control" id="tpServ" [(ngModel)]="cte.tpServ">                        
                        <option value="0">0 - Normal</option>
                        <option value="1">1 - Subcontratação</option>
                        <option value="2">2 - Redespacho</option>
                        <option value="3">3 - Redespacho Intermediário</option>
                        <option value="4">4 - Serviço Vinculado a Multimodal</option>
                    </select>
                </div>

                <label for="cMunEnv" style="float: left; width: 70px;  margin-top: 2px; font-size: 0.9em;">Cod. Mun.E</label>
                <div class="col-sm-2" style="margin-top: 2px;" title="Código do Município de envio do CTe (de onde o documento foi transmitido).
Utilizar a tabela do IBGE. Informar 9999999 para operações com o exterior. ">
                  <input class="form-control" id="cMunEnv" [(ngModel)]="cte.cMunEnv">
                </div>

                <label for="ufEnv" style="float: left; width: 120px; margin-top: 2px; font-size: 0.9em;">Est. Enviado</label>
                <div class="col-sm-3"  style="float: left; margin-top: 2px; width: 310px;" title=" Sigla da UF de envio do CTe (de onde o documento foi transmitido)
Informar 'EX' para operações com o exterior. ">
                    <input class="form-control" id="ufEnv" type="text" [(ngModel)]="cte.ufEnv" placeholder="Informar a sigla Ex: GO">
                </div>

                <label for="retira" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">Retira</label>
                <div  class="col-sm-2"  style="float: left; margin-top: 2px;  width: 160px;" title="Indicador se o Recebedor retira no Aeroporto, Filial, Porto ou Estação de Destino">
                    <select class="form-control" id="retira" [(ngModel)]="cte.retira">
                        <option value="1">1 - Não</option>
                        <option value="0">0 - Sim</option>                        
                    </select>
                </div>

                <label for="indIEToma" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">Ind. Tom.</label>
                <div class="col-sm-4"  style="float: left; margin-top: 2px;  width: 150px" title="Tipo de serviço">
                    <select class="form-control" id="indIEToma" [(ngModel)]="cte.indIEToma">  
                        <option value="1">1 - Contribuinte ICMS</option>
                        <option value="2">2 - Contribuinte isento de inscrição</option>
                        <option value="9">9 - Não Contribuinte</option>
                    </select>
                </div>

                <label for="cMunIni" style="float: left; width: 70px;  margin-top: 2px; font-size: 0.9em;">Cod Mun.I</label>
                <div class="col-sm-2" style="margin-top: 2px;" title="Código do Município de início da prestação. 
Informar 9999999 para operações com o exterior. ">
                  <input class="form-control" id="cMunIni" [(ngModel)]="cte.cMunIni">
                </div>

                <label for="ufIni" style="float: left; width: 120px; margin-top: 2px; font-size: 0.9em;">Est. Início</label>
                <div class="col-sm-3"  style="float: left; margin-top: 2px; width: 310px;" title="UF do início da prestação
Informar 'EX' para operações com o exterior. ">
                    <input class="form-control" id="ufIni" type="text" [(ngModel)]="cte.ufIni" placeholder="Informar a sigla Ex: GO">
                </div>

                <label for="xMunIni" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">Mun. Início</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 160px;" title="Nome do Município do início da prestação.
Informar 'EXTERIOR' para operações com o exterior">
                  <input class="form-control" id="xMunIni" type="text" [(ngModel)]="cte.xMunIni">
                </div>

                <label for="xMunFim" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">Mun. Fim</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 150px;" title="Nome do Município do término da prestação. 
Informar 'EXTERIOR' para operações com o exterior.">
                  <input class="form-control" id="xMunFim" type="text" [(ngModel)]="cte.xMunFim">
                </div>

                <label for="cMunFim" style="float: left; width: 70px;  margin-top: 2px; font-size: 0.9em;">Cod Mun.F</label>
                <div class="col-sm-2" style="margin-top: 2px;" title="Código do Município de fim da prestação. 
Informar 9999999 para operações com o exterior. ">
                  <input class="form-control" id="cMunFim" [(ngModel)]="cte.cMunFim">
                </div>

                <label for="ufFim" style="float: left; width: 120px; margin-top: 2px; font-size: 0.9em;">Est. Fim</label>
                <div class="col-sm-3"  style="float: left; margin-top: 2px; width: 310px;" title="UF do fim da prestação
Informar 'EX' para operações com o exterior. ">
                    <input class="form-control" id="ufFim" type="text" [(ngModel)]="cte.ufFim" placeholder="Informar a sigla Ex: GO">
                </div>

                <label for="toma" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">Tomador</label>
                <div  class="col-sm-2"  style="float: left; margin-top: 2px;  width: 160px;">
                    <select class="form-control" id="toma" [(ngModel)]="cte.toma">
                        <option value="3">3 - Destinatário</option>
                        <option value="0">0 - Remetente</option>
                        <option value="1">1 - Expedidor</option>
                        <option value="2">2 - Recebedor</option>                        
                    </select>
                </div>
                <div style="float: left; width: 100%; margin-top: 2px;"> 
                    <label for="xObs" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">Observação</label>
                    <div  class="col-sm-10"  style="float: left; margin-top: 2px;">
                        <textarea id="xObs" [(ngModel)]="cte.xObs" name="xObs" rows="5" cols="153"></textarea>
                    </div>
                </div>

            </div>
        </div>
        <div id="menu1" class="tab-pane fade">
            <div class="form-group">
                <label for="cnpj" style="float: left; width: 70px; font-size: 0.9em;">CNPJ</label>
                <div class="col-sm-4">
                  <input [(ngModel)]="cte.emitCnpj" class="form-control" id="emitCnpj" type="text">
                </div>

                <label for="emitInscricaoEstadual" style="float: left; width: 70px; font-size: 0.9em;">Ins. Est.</label>
                <div class="col-sm-2">
                  <input [(ngModel)]="cte.emitInscricaoEstadual" class="form-control" id="emitInscricaoEstadual">
                </div>

                <label for="emitXNome" style="float: left; width: 120px; margin-top: 2px; font-size: 0.9em;">Razão social</label>
                <div class="col-sm-3"  style="float: left; margin-top: 2px; width: 310px;" >
                    <input class="form-control" id="emitXNome" type="text" [(ngModel)]="cte.emitXNome">
                </div>

                <label for="crt" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">Reg. Trib.</label>
                <div  class="col-sm-2"  style="float: left; margin-top: 2px;  width: 160px;" title="Código do Regime Tributário">
                    <select class="form-control" id="crt" [(ngModel)]="cte.crt">
                        <option value="1">01 - Simples Nacional</option>
                        <option value="2">02 - Simples Nacional, excesso sublimite de receita bruta</option>
                        <option value="3">03 - Regime Normal</option>
                        <option value="4">04 - Simples Nacional - Microempreendedor Individual (MEI)</option>
                    </select>
                </div>

                <label for="emitFone" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">Telefone</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 150px;">
                  <input class="form-control" id="emitFone" type="text" [(ngModel)]="cte.emitFone">
                </div>

                <label for="emitCep" style="float: left; width: 70px;  margin-top: 2px; font-size: 0.9em;">Cep</label>
                <div class="col-sm-2" style="margin-top: 2px;" >
                  <input class="form-control" id="emitCep" [(ngModel)]="cte.emitCep">
                </div>

                <label for="emitUF" style="float: left; width: 120px; margin-top: 2px; font-size: 0.9em;">Estado</label>
                <div class="col-sm-3"  style="float: left; margin-top: 2px; width: 310px;" title="Sigla da UF">
                    <input class="form-control" id="emitUF" type="text" [(ngModel)]="cte.emitUF">
                </div>

                <label for="emitXLgr" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">Logradouro</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 160px;">
                  <input class="form-control" id="emitXLgr" type="text" [(ngModel)]="cte.emitXLgr">
                </div>

                <label for="emitNro" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">Número</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 150px;">
                  <input class="form-control" id="emitNro" type="text" [(ngModel)]="cte.emitNro">
                </div>

                <label for="emitXCpl" style="float: left; width: 70px;  margin-top: 2px; font-size: 0.9em;">Complemento</label>
                <div class="col-sm-2" style="margin-top: 2px;" >
                  <input class="form-control" id="emitXCpl" [(ngModel)]="cte.emitXCpl">
                </div>

                <label for="emitBairro" style="float: left; width: 120px; margin-top: 2px; font-size: 0.9em;">Bairro</label>
                <div class="col-sm-3"  style="float: left; margin-top: 2px; width: 310px;">
                    <input class="form-control" id="emitBairro" type="text" [(ngModel)]="cte.emitBairro">
                </div>

                <label for="emitCMun" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">Cod. Município</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 160px;" title="Código do município (utilizar a tabela do IBGE)">
                  <input class="form-control" id="emitCMun" type="text" [(ngModel)]="cte.emitCMun">
                </div>

                <label for="emitXMun" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">Nome do Município</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 150px;">
                  <input class="form-control" id="emitXMun" type="text" [(ngModel)]="cte.emitXMun">
                </div>

            </div>
        </div>
        <div id="menu2" class="tab-pane fade">
            <div class="form-group">
                <label for="remtCnpj" style="float: left; width: 70px; font-size: 0.9em;">CNPJ</label>
                <div class="col-sm-4">
                  <input [(ngModel)]="cte.remtCnpj" class="form-control" id="remtCnpj" type="text">
                </div>

                <label for="remInscricaoEstadual" style="float: left; width: 70px; font-size: 0.9em;">Ins. Est.</label>
                <div class="col-sm-2">
                  <input [(ngModel)]="cte.remInscricaoEstadual" class="form-control" id="remInscricaoEstadual">
                </div>

                <label for="remXNome" style="float: left; width: 120px; margin-top: 2px; font-size: 0.9em;">Razão social</label>
                <div class="col-sm-3"  style="float: left; margin-top: 2px; width: 310px;" >
                    <input class="form-control" id="remXNome" type="text" [(ngModel)]="cte.remXNome">
                </div>

                <label for="remEmail" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">E-mail</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 160px;">
                  <input class="form-control" id="remEmail" type="text" [(ngModel)]="cte.remEmail">
                </div>

                <label for="remFone" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">Telefone</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 150px;">
                  <input class="form-control" id="remFone" type="text" [(ngModel)]="cte.remFone">
                </div>

                <label for="remCep" style="float: left; width: 70px;  margin-top: 2px; font-size: 0.9em;">Cep</label>
                <div class="col-sm-2" style="margin-top: 2px;" >
                  <input class="form-control" id="remCep" [(ngModel)]="cte.remCep">
                </div>

                <label for="remUF" style="float: left; width: 120px; margin-top: 2px; font-size: 0.9em;">Estado</label>
                <div class="col-sm-3"  style="float: left; margin-top: 2px; width: 310px;" title="Sigla da UF">
                    <input class="form-control" id="remUF" type="text" [(ngModel)]="cte.remUF">
                </div>

                <label for="remXLgr" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">Logradouro</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 160px;">
                  <input class="form-control" id="remXLgr" type="text" [(ngModel)]="cte.remXLgr">
                </div>

                <label for="remNro" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">Número</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 150px;">
                  <input class="form-control" id="remNro" type="text" [(ngModel)]="cte.remNro">
                </div>

                <label for="remXCpl" style="float: left; width: 70px;  margin-top: 2px; font-size: 0.9em;">Complemento</label>
                <div class="col-sm-2" style="margin-top: 2px;" >
                  <input class="form-control" id="remXCpl" [(ngModel)]="cte.remXCpl">
                </div>

                <label for="remBairro" style="float: left; width: 120px; margin-top: 2px; font-size: 0.9em;">Bairro</label>
                <div class="col-sm-3"  style="float: left; margin-top: 2px; width: 310px;">
                    <input class="form-control" id="remBairro" type="text" [(ngModel)]="cte.remBairro">
                </div>

                <label for="remCMun" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">Cod. Município</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 160px;" title="Código do município (utilizar a tabela do IBGE)">
                  <input class="form-control" id="remCMun" type="text" [(ngModel)]="cte.remCMun">
                </div>

                <label for="remXMun" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">Nome do Município</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 150px;">
                  <input class="form-control" id="remXMun" type="text" [(ngModel)]="cte.remXMun">
                </div>

                <label for="remCPais" style="float: left; width: 70px;  margin-top: 2px; font-size: 0.9em;">Cod. Pais</label>
                <div class="col-sm-2" style="margin-top: 2px;" title="Código do país - Utilizar a tabela do BACEN ">
                  <input class="form-control" id="remCPais" [(ngModel)]="cte.remCPais" placeholder="1058">
                </div>

                <label for="remXPais" style="float: left; width: 120px; margin-top: 2px; font-size: 0.9em;">Pais</label>
                <div class="col-sm-3"  style="float: left; margin-top: 2px; width: 310px;">
                    <input class="form-control" id="remXPais" type="text" [(ngModel)]="cte.remXPais">
                </div>

            </div>
        </div>
        <div id="menu3" class="tab-pane fade">
            <div class="form-group">
                <label for="destCnpj" style="float: left; width: 70px; font-size: 0.9em;">CNPJ</label>
                <div class="col-sm-4">
                  <input [(ngModel)]="cte.destCnpj" class="form-control" id="destCnpj" type="text">
                </div>

                <label for="destCnpjInscricaoEstadual" style="float: left; width: 70px; font-size: 0.9em;">Ins. Est.</label>
                <div class="col-sm-2">
                  <input [(ngModel)]="cte.destCnpjInscricaoEstadual" class="form-control" id="destCnpjInscricaoEstadual">
                </div>

                <label for="destXNome" style="float: left; width: 120px; margin-top: 2px; font-size: 0.9em;">Razão social</label>
                <div class="col-sm-3"  style="float: left; margin-top: 2px; width: 310px;" >
                    <input class="form-control" id="destXNome" type="text" [(ngModel)]="cte.destXNome">
                </div>

                <label for="destEmail" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">E-mail</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 160px;">
                  <input class="form-control" id="destEmail" type="text" [(ngModel)]="cte.destEmail">
                </div>

                <label for="destFone" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">Telefone</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 150px;">
                  <input class="form-control" id="destFone" type="text" [(ngModel)]="cte.destFone">
                </div>

                <label for="destCep" style="float: left; width: 70px;  margin-top: 2px; font-size: 0.9em;">Cep</label>
                <div class="col-sm-2" style="margin-top: 2px;" >
                  <input class="form-control" id="destCep" [(ngModel)]="cte.destCep">
                </div>

                <label for="destUF" style="float: left; width: 120px; margin-top: 2px; font-size: 0.9em;">Estado</label>
                <div class="col-sm-3"  style="float: left; margin-top: 2px; width: 310px;" title="Sigla da UF">
                    <input class="form-control" id="destUF" type="text" [(ngModel)]="cte.destUF">
                </div>

                <label for="destXLgr" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">Logradouro</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 160px;">
                  <input class="form-control" id="destXLgr" type="text" [(ngModel)]="cte.destXLgr">
                </div>

                <label for="destNro" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">Número</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 150px;">
                  <input class="form-control" id="destNro" type="text" [(ngModel)]="cte.destNro">
                </div>

                <label for="destXCpl" style="float: left; width: 70px;  margin-top: 2px; font-size: 0.9em;">Complemento</label>
                <div class="col-sm-2" style="margin-top: 2px;" >
                  <input class="form-control" id="destXCpl" [(ngModel)]="cte.destXCpl">
                </div>

                <label for="destBairro" style="float: left; width: 120px; margin-top: 2px; font-size: 0.9em;">Bairro</label>
                <div class="col-sm-3"  style="float: left; margin-top: 2px; width: 310px;">
                    <input class="form-control" id="destBairro" type="text" [(ngModel)]="cte.destBairro">
                </div>

                <label for="destCMun" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">Cod. Município</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 160px;" title="Código do município (utilizar a tabela do IBGE)">
                  <input class="form-control" id="destCMun" type="text" [(ngModel)]="cte.destCMun">
                </div>

                <label for="destXMun" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">Nome do Município</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 150px;">
                  <input class="form-control" id="destXMun" type="text" [(ngModel)]="cte.destXMun">
                </div>

                <label for="destCPais" style="float: left; width: 70px;  margin-top: 2px; font-size: 0.9em;">Cod. Pais</label>
                <div class="col-sm-2" style="margin-top: 2px;" title="Código do país - Utilizar a tabela do BACEN ">
                  <input class="form-control" id="destCPais" [(ngModel)]="cte.destCPais" placeholder="1058">
                </div>

                <label for="destXPais" style="float: left; width: 120px; margin-top: 2px; font-size: 0.9em;">Pais</label>
                <div class="col-sm-3"  style="float: left; margin-top: 2px; width: 310px;">
                    <input class="form-control" id="destXPais" type="text" [(ngModel)]="cte.destXPais">
                </div>

            </div>
        </div>

        <div id="menu4" class="tab-pane fade">
            <div class="form-group">
                <label for="vTPrest" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">VL Prest.</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 160px;" title="Valor Total da Prestação do Serviço - 15 posições, sendo 13 inteiras e 2 casas decimais">
                <input class="form-control" id="vTPrest" type="text" [(ngModel)]="cte.vTPrest">
                </div>

                <label for="vRec" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;" title="Valor a Receber - 15 posições, sendo 13 inteiras e 2 casas decimais">VL Receb.</label>
                    <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 150px;">
                    <input class="form-control" id="vRec" type="text" [(ngModel)]="cte.vRec">
                </div>

                <label for="vComp" style="float: left; width: 70px;  margin-top: 2px; font-size: 0.9em;" title="Valor do componente - 15 posições, sendo 13 inteiras e 2 casas decimais">VL comp</label>
                <div class="col-sm-2" style="margin-top: 2px;" >
                  <input class="form-control" id="vComp" [(ngModel)]="cte.vComp">
                </div>

              <label for="prestXNome" style="float: left; width: 120px; margin-top: 2px; font-size: 0.9em;">Nome componente</label>
                <div class="col-sm-3"  style="float: left; margin-top: 2px; width: 310px;" title="Nome do componente">
                    <input class="form-control" id="prestXNome" type="text" [(ngModel)]="cte.prestXNome"  placeholder="FRETE PESO, FRETE VALOR, SEC/CAT, ADEME, AGENDAMENTO, etc ">
                </div>
            </div>
        </div>

        <div id="menu5" class="tab-pane fade">
            <div class="form-group">
                <label for="cst" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">CST.</label>
                <div  class="col-sm-2"  style="float: left; margin-top: 2px;  width: 160px;" title="classificação Tributária do Serviço">
                    <select class="form-control" id="cst" [(ngModel)]="cte.cst">
                        <option value="40">40 - ICMS isenção</option>
                        <option value="41">41 - ICMS não tributada</option>
                        <option value="51">51 - ICMS diferido</option>                       
                    </select>
                </div>

                <label for="vCarga" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;" title="Valor total da carga  - 15 posições, sendo 13 inteiras e 2 casas decimais (Dever ser informado para todos os modais, com exceção para o Dutoviário)">VL Carga</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 150px;" title="Valor total da carga  - 15 posições, sendo 13 inteiras e 2 casas decimais (Dever ser informado para todos os modais, com exceção para o Dutoviário)">
                    <input class="form-control" id="vCarga" type="text" [(ngModel)]="cte.vCarga">
                </div>

                <label for="proPred" style="float: left; width: 70px;  margin-top: 2px; font-size: 0.9em;" title="Produto predominante - Informar a descrição do produto predominante">Prod. Pred.</label>
                <div class="col-sm-2" style="margin-top: 2px;" title="Produto predominante - Informar a descrição do produto predominante">
                  <input class="form-control" id="proPred" [(ngModel)]="cte.proPred">
                </div>

                <label for="cUnid" style="float: left; width: 120px; margin-top: 2px;font-size: 0.9em;">Cod. UM</label>
                <div class="col-sm-3"  style="float: left; margin-top: 2px; width: 310px;">
                    <select class="form-control" id="cUnid" [(ngModel)]="cte.cUnid">
                        <option value="00">00-M3</option>
                        <option value="01">01-KG</option>
                        <option value="02">02-TON</option>
                        <option value="03">03-UNIDADE</option>
                        <option selected value="04">04-LITROS</option>
                        <option value="05">05-MMBTu</option>
                    </select>
                </div>

                <label for="tpMed" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">Tipo Med.</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 160px;">
                    <input class="form-control" id="tpMed" type="text" [(ngModel)]="cte.tpMed" title="Tipo da Medida" placeholder="EX: PESO BRUTO, PESO DECLARADO, CÁLCULO, LITRAGEM, CAIXAS e etc">
                </div>

                <label for="qCarga" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;" title="QTD da carga  - 15 posições, sendo 11 inteiras e 4 casas decimais">Qtd. Carga</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 150px;" title="Valor total da carga  - 15 posições, sendo 11 inteiras e 4 casas decimais">
                    <input class="form-control" id="qCarga" type="text" [(ngModel)]="cte.qCarga">
                </div>

                <label for="chave" style="float: left; width: 70px; margin-top: 2px; font-size: 0.9em;">Chave NF-e</label>
                <div class="col-sm-5" style="float: left; margin-top: 2px; width: 620px" title="Natureza da operação">
                  <input class="form-control" id="chave" type="text" [(ngModel)]="cte.chave">
                </div> 

              <!--  <label for="RNTRC" style="float: left; width: 70px;  margin-top: 2px; font-size: 0.9em;" >RNTRC</label>
                <div class="col-sm-2" style="margin-top: 2px;" title="Registro Nacional de Transportadores Rodoviários de Carga (Registro obrigatório do emitente do CTe junto à ANTT para exercer a atividade de transportador rodoviário de cargas por conta de terceiros e mediante remuneração.)">
                  <input class="form-control" id="RNTRC" [(ngModel)]="cte.RNTRC">
                </div>-->
            </div>
            
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Cancelar NF-e</h4>
      </div>
      <div class="modal-body">
          <label  for="chave" style="margin-top: 10px; float: left; width: 70px; font-size: 0.9em;">Chave</label>
          <div class="col-sm-10">
            <input class="form-control"  [(ngModel)]="cancelamento.chave" id="chave" type="text">
          </div>

          <label for="protocolo" style="margin-top: 10px; float: left; width: 70px; font-size: 0.9em;">Protocolo</label>
          <div class="col-sm-10" style="margin-top: 10px">
            <input class="form-control" [(ngModel)]="cancelamento.protocolo" id="protocolo" type="text">
          </div>

          <label for="motivo" style="margin-top: 10px; float: left; width: 70px; font-size: 0.9em;">Motivo</label>
          <div  class="col-sm-10"  style="float: left; margin-top: 2px;">
              <textarea id="motivo" name="motivo" [(ngModel)]="cancelamento.motivo" rows="3" cols="52"></textarea>
          </div>
        
          
      </div>
      <div class="modal-footer"  style="margin-top: 150px">
        <button type="button" class="btn btn-success"  (click)="cancelar(cancelamento)" data-dismiss="modal">Salvar</button>
      </div>
    </div>
    
  </div>
</div>