<div class="container">
    <p><b>Configuração do emissor</b></p> 
    <div >
        <button style="cursor:pointer; " class="btn btn-primary btn-sm" (click)="aplicar(config)">Aplicar</button>
    </div>
    <hr>  
    <div class="form-group">
        <label for="certificado" style="float: left; width: 95px;">Certificado</label>
        <div class="col-sm-5">
          <input class="form-control" [(ngModel)]="config.certificado" id="certificado" title="Informe o caminho do certificado"  placeholder="Diretório do certificado ex: c:/certificado/certificado.pfx">
        </div>
        <label for="senha" style="float: left; width: 95px;">Senha</label>
        <div class="col-sm-5">
          <input class="form-control" id="senha" [(ngModel)]="config.senha" type="password">
        </div>
    </div>

    <div class="form-group" style="margin-top:60px;">
        <label for="schemasNFe" style="float: left; width: 95px; font-size: 0.9em;">Schemas NF-e</label>
        <div class="col-sm-5">
          <input class="form-control" id="schemasNFe" [(ngModel)]="config.schemasNFe"  type="text" placeholder="Diretório dos schemas ex: c:/schemas">
        </div>
    </div> 
    <div class="form-group" style="margin-top:60px;">
      <label for="schemasCTe" style="float: left; width: 95px; font-size: 0.9em;">Schemas CT-e</label>
      <div class="col-sm-5">
        <input class="form-control" id="schemasCTe" [(ngModel)]="config.schemasCTe"  type="text" placeholder="Diretório dos schemas ex: c:/schemas">
      </div>
  </div> 
    
    <div class="form-group" style="margin-top:60px;">
      <p>
        <a href="https://www.cte.fazenda.gov.br/portal/exibirArquivo.aspx?conteudo=JNinH9Eium8=">Baixe os schemas do CT-e</a>
      </p>
      <p>
        <a href="https://github.com/Samuel-Oliveira/Java_NFe/raw/master/schemas.zip">Baixe os schemas da NF-e</a>
      </p>
    </div>
</div>
<hr>

