<div class="container">
    <p><b>Cadastro de NF-e</b></p>
    <div >
        <button style="cursor:pointer; " class="btn btn-primary btn-sm"  (click)="emitir(nfe)">Emitir</button>
        <button style="margin-left:10px; "type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">Cancelar</button>
    </div>
    <hr>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Geral</a></li>
        <li><a data-toggle="tab" href="#menu1">Emitente</a></li>
        <li><a data-toggle="tab" href="#menu2">Destinatário</a></li>
        <li><a data-toggle="tab" href="#menu3">Produtos</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <div class="form-group">
                <label for="cnpj" style="float: left; width: 70px; font-size: 0.7em;">CNPJ</label>
                <div class="col-sm-4">
                  <input [(ngModel)]="nfe.cnpj"  class="form-control" id="cnpj" type="text">
                </div>

                <label for="modelo" style="float: left; width: 70px; font-size: 0.7em;">Modelo</label>
                <div class="col-sm-2">
                  <input  [(ngModel)]="nfe.modelo" class="form-control" id="modelo" disabled>
                </div>

                <label for="tipoEmissao" style="float: left; width: 120px; margin-top: 2px;font-size: 0.7em;">Tipo de emissão</label>
                <div class="col-sm-3"  style="float: left; margin-top: 2px; width: 310px;">
                    <select class="form-control" id="tipoEmissao" [(ngModel)]="nfe.tipoEmissao" disabled>
                        <option value="1">1 - Normal</option>
                        <option value="3">3 - Regime Especial NFF</option>
                        <option value="4">4 - EPEC pela SVC</option>
                        <option value="5">5 - Contingência FSDA</option>
                        <option value="7">7 - Autorização pela SVC-RS</option>
                        <option value="8">8 - Autorização pela SVC-SP</option>
                    </select>
                </div>

                <label for="procEmi" style="float: left; width: 70px; margin-top: 2px; font-size: 0.7em;">Proc. Emissão</label>
                <div  class="col-sm-2"  style="float: left; margin-top: 2px;  width: 160px;" title="Informar o código de identificação do processo de emissão da NF-e">
                    <select class="form-control" id="procEmi" [(ngModel)]="nfe.procEmi">
                        <option value="0">0 - emissão de NF-e com aplicativo do contribuinte</option>
                        <option value="1">1 - emissão de NF-e avulsa pelo Fisco</option> 
                        <option value="2">2 - emissão de NF-e avulsa, pelo contribuinte com seu certificado digital, através do site do Fisco</option>
                        <option value="3">3 - emissão NF-e pelo contribuinte com aplicativo fornecido pelo Fisco</option>                        
                    </select>
                </div>


                <label for="tpImp" style="float: left; width: 70px; margin-top: 2px; font-size: 0.7em;">Impressão</label>
                <div class="col-sm-4"  style="float: left; margin-top: 2px;  width: 150px">
                    <select class="form-control" id="tpImp" [(ngModel)]="nfe.tpImp">
                        <option value="1">1 - Retrato</option>
                        <option value="2">2 - Paisagem</option>
                    </select>
                </div>

                <label for="natOp" style="float: left; width: 70px; margin-top: 2px; font-size: 0.7em;">Natureza</label>
                <div class="col-sm-5" style="float: left; margin-top: 2px; width: 620px" title="Natureza da operação">
                  <input class="form-control" id="natOp" type="text" [(ngModel)]="nfe.natOp">
                </div>               

                <label for="numero" style="float: left; width: 70px; margin-top: 2px; font-size: 0.7em;">Número</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 160px;">
                  <input class="form-control" id="numero" type="text" [(ngModel)]="nfe.numeroNfe">
                </div>

                <label for="serie" style="float: left; width: 70px; margin-top: 2px; font-size: 0.7em;">Série</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 150px;">
                  <input class="form-control" id="serie" type="text" [(ngModel)]="nfe.serie">
                </div>

                <label for="tpCTe" style="float: left; width: 70px; font-size: 0.7em;">Tipo de Op.</label>
                <div class="col-sm-2" style="margin-top: 2px;">
                    <select class="form-control" id="tpNF" [(ngModel)]="nfe.tpNF">
                        <option value="0">0 - Entrada</option>
                        <option value="1">1 - Saída</option>
                    </select>
                </div>

                <label for="idDest" style="float: left; width: 120px; margin-top: 2px;font-size: 0.7em;">Destino Op.</label>
                <div class="col-sm-3"  style="float: left; margin-top: 2px; width: 310px;" title="Informar o identificador de local de destino da operação">
                    <select class="form-control" id="idDest" [(ngModel)]="nfe.idDest">
                        <option value="1">1 - Operação interna</option>
                        <option value="2">2 - Operação interestadual</option>
                        <option value="3">3 - Operação com exterior</option>
                    </select>
                </div>

                <label for="codMunFG" style="float: left; width: 70px; margin-top: 2px; font-size: 0.7em;">Cod. Mun. FG</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 160px;" title="Código do Município de ocorrência do Fato Gerador - Informar o município de ocorrência do fato gerador do ICMS. Utilizar a Tabela do IBGE ">
                  <input class="form-control" id="codMunFG" type="text" [(ngModel)]="nfe.codMunFG">
                </div>

                <label for="finNFe" style="float: left; width: 70px; margin-top: 2px; font-size: 0.7em;">Finalidade</label>
                <div class="col-sm-4"  style="float: left; margin-top: 2px;  width: 150px" title="Informar o código da finalidade de emissão da NF-e">
                    <select class="form-control" id="finNFe" [(ngModel)]="nfe.finNFe">                        
                        <option value="1">1 - NF-e normal</option>
                        <option value="2">2 - NF-e complementar</option>
                        <option value="3">3 - NF-e de ajuste</option>
                        <option value="4">4 - Devolução</option>
                    </select>
                </div>

                <label for="indFinal" style="float: left; width: 70px; font-size: 0.7em;">Op. Cons. final</label>
                <div class="col-sm-2" style="margin-top: 2px;" title="Informar o indicador de operação com Consumidor final">
                    <select class="form-control" id="indFinal" [(ngModel)]="nfe.indFinal">
                        <option value="0">0 - Não</option>
                        <option value="1">1 - Consumidor final</option>
                    </select>
                </div>

                <label for="indPres" style="float: left; width: 120px; margin-top: 2px;font-size: 0.7em;">Ind. Presença</label>
                <div class="col-sm-3"  style="float: left; margin-top: 2px; width: 310px;" title="Informar o indicador de presença do comprador no estabelecimento comercial no momento da operação">
                    <select class="form-control" id="indPres" [(ngModel)]="nfe.indPres">
                        <option value="0">0 - Não se aplica (por exemplo, Nota Fiscal complementar ou de ajuste)</option>
                        <option value="1">1 - Operação presencial</option>
                        <option value="2">2 - Operação não presencial, pela Internet</option>
                        <option value="3">3 - Operação não presencial, Teleatendimento</option>
                        <option value="4">4 - NFC-e em operação com entrega a domicílio</option>
                        <option value="5">5 - Operação presencial fora do estabelecimento</option>
                        <option value="9">9 - Operação não presencial, outros</option>
                    </select>
                </div> 
            </div>
        </div>

        <div id="menu1" class="tab-pane fade">
            <div class="form-group">
                <label for="emitCMun" style="float: left; width: 70px; margin-top: 2px; font-size: 0.7em;">Cod. Município</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 160px;" title="Código do município (utilizar a tabela do IBGE)">
                  <input class="form-control" id="emitCMun" type="text" [(ngModel)]="nfe.emitCMun">
                </div>

                <label for="emitXMun" style="float: left; width: 70px; margin-top: 2px; font-size: 0.7em;">Nome do Município</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 150px;">
                  <input class="form-control" id="emitXMun" type="text" [(ngModel)]="nfe.emitXMun">
                </div>

                <label for="emitInscricaoEstadual" style="float: left; width: 70px; font-size: 0.7em;">Ins. Est.</label>
                <div class="col-sm-2">
                  <input [(ngModel)]="nfe.emitInscricaoEstadual" class="form-control" id="emitInscricaoEstadual">
                </div>

                <label for="emitXNome" style="float: left; width: 120px; margin-top: 2px; font-size: 0.7em;">Razão social</label>
                <div class="col-sm-3"  style="float: left; margin-top: 2px; width: 310px;" >
                    <input class="form-control" id="emitXNome" type="text" [(ngModel)]="nfe.emitXNome">
                </div>

                <label for="emitBairro" style="float: left; width: 70px; margin-top: 2px; font-size: 0.7em;">Bairro</label>
                <div  class="col-sm-2"  style="float: left; margin-top: 2px;  width: 160px;">
                    <input class="form-control" id="emitBairro" type="text" [(ngModel)]="nfe.emitBairro">
                </div>

                <label for="emitFone" style="float: left; width: 70px; margin-top: 2px; font-size: 0.7em;">Telefone</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 150px;">
                  <input class="form-control" id="emitFone" type="text" [(ngModel)]="nfe.emitFone">
                </div>

                <label for="emitCep" style="float: left; width: 70px;  margin-top: 2px; font-size: 0.7em;">Cep</label>
                <div class="col-sm-2" style="margin-top: 2px;" >
                  <input class="form-control" id="emitCep" [(ngModel)]="nfe.emitCep">
                </div>

                <label for="emitUF" style="float: left; width: 120px; margin-top: 2px; font-size: 0.7em;">Estado</label>
                <div class="col-sm-3"  style="float: left; margin-top: 2px; width: 310px;" title="Sigla da UF">
                    <input class="form-control" id="emitUF" type="text" [(ngModel)]="nfe.emitUF">
                </div>

                <label for="emitXLgr" style="float: left; width: 70px; margin-top: 2px; font-size: 0.7em;">Logradouro</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 160px;">
                  <input class="form-control" id="emitXLgr" type="text" [(ngModel)]="nfe.emitXLgr">
                </div>

                <label for="emitNro" style="float: left; width: 70px; margin-top: 2px; font-size: 0.7em;">Número</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 150px;">
                  <input class="form-control" id="emitNro" type="text" [(ngModel)]="nfe.emitNro">
                </div>

                <label for="emitXCpl" style="float: left; width: 70px;  margin-top: 2px; font-size: 0.7em;">Complemento</label>
                <div class="col-sm-2" style="margin-top: 2px;" >
                  <input class="form-control" id="emitXCpl" [(ngModel)]="nfe.emitXCpl">
                </div>



                <label for="crt" style="float: left; width: 120px; margin-top: 2px; font-size: 0.7em;">Reg. Trib.</label>
                <div  class="col-sm-2"  style="float: left; margin-top: 2px; width: 310px;" title="Código do Regime Tributário">
                    <select class="form-control" id="crt" [(ngModel)]="nfe.crt">
                        <option value="1">01 - Simples Nacional</option>
                        <option value="2">02 - Simples Nacional, excesso sublimite de receita bruta</option>
                        <option value="3">03 - Regime Normal</option>
                        <option value="4">04 - Simples Nacional - Microempreendedor Individual (MEI)</option>
                    </select>
                </div>
            </div>
        </div>

        <div id="menu2" class="tab-pane fade">
            <div class="form-group">
                <label for="destCnpj" style="float: left; width: 70px; font-size: 0.7em;">CNPJ</label>
                <div class="col-sm-4">
                  <input [(ngModel)]="nfe.destCnpj" class="form-control" id="destCnpj" type="text">
                </div>

                <label for="indIEDest" style="float: left; width: 70px; font-size: 0.7em;">Tipo de Op.</label>
                <div class="col-sm-2" style="margin-top: 2px;" title="Indicador de inscrição estadual">
                    <select class="form-control" id="indIEDest" [(ngModel)]="nfe.indIEDest">
                        <option value="1">1 - Contribuinte ICMS (informar a IE do destinatário)</option>
                        <option value="2">2 - Contribuinte isento de Inscrição no cadastro de Contribuintes do ICMS</option>
                        <option value="9">9 - Não Contribuinte, que pode ou não possuir Inscrição Estadual no Cadastro de Contribuintes do ICMS</option>
                    </select>
                </div>

                <label for="destXNome" style="float: left; width: 120px; margin-top: 2px; font-size: 0.7em;">Razão social</label>
                <div class="col-sm-3"  style="float: left; margin-top: 2px; width: 310px;" >
                    <input class="form-control" id="destXNome" type="text" [(ngModel)]="nfe.destXNome">
                </div>

                <label for="destEmail" style="float: left; width: 70px; margin-top: 2px; font-size: 0.7em;">E-mail</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 160px;">
                  <input class="form-control" id="destEmail" type="text" [(ngModel)]="nfe.destEmail">
                </div>

                <label for="destFone" style="float: left; width: 70px; margin-top: 2px; font-size: 0.7em;">Telefone</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 150px;">
                  <input class="form-control" id="destFone" type="text" [(ngModel)]="nfe.destFone">
                </div>

                <label for="destCep" style="float: left; width: 70px;  margin-top: 2px; font-size: 0.7em;">Cep</label>
                <div class="col-sm-2" style="margin-top: 2px;" >
                  <input class="form-control" id="destCep" [(ngModel)]="nfe.destCep">
                </div>

                <label for="destUF" style="float: left; width: 120px; margin-top: 2px; font-size: 0.7em;">Estado</label>
                <div class="col-sm-3"  style="float: left; margin-top: 2px; width: 310px;" title="Sigla da UF">
                    <input class="form-control" id="destUF" type="text" [(ngModel)]="nfe.destUF">
                </div>

                <label for="destXLgr" style="float: left; width: 70px; margin-top: 2px; font-size: 0.7em;">Logradouro</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 160px;">
                  <input class="form-control" id="destXLgr" type="text" [(ngModel)]="nfe.destXLgr">
                </div>

                <label for="destNro" style="float: left; width: 70px; margin-top: 2px; font-size: 0.7em;">Número</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 150px;">
                  <input class="form-control" id="destNro" type="text" [(ngModel)]="nfe.destNro">
                </div>

                <label for="destXCpl" style="float: left; width: 70px;  margin-top: 2px; font-size: 0.7em;">Complemento</label>
                <div class="col-sm-2" style="margin-top: 2px;" >
                  <input class="form-control" id="destXCpl" [(ngModel)]="nfe.destXCpl">
                </div>

                <label for="destBairro" style="float: left; width: 120px; margin-top: 2px; font-size: 0.7em;">Bairro</label>
                <div class="col-sm-3"  style="float: left; margin-top: 2px; width: 310px;">
                    <input class="form-control" id="destBairro" type="text" [(ngModel)]="nfe.destBairro">
                </div>

                <label for="destCMun" style="float: left; width: 70px; margin-top: 2px; font-size: 0.7em;">Cod. Município</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 160px;" title="Código do município (utilizar a tabela do IBGE)">
                  <input class="form-control" id="destCMun" type="text" [(ngModel)]="nfe.destCMun">
                </div>

                <label for="destXMun" style="float: left; width: 70px; margin-top: 2px; font-size: 0.7em;">Nome do Município</label>
                <div class="col-sm-2"  style="float: left; margin-top: 2px;  width: 150px;">
                  <input class="form-control" id="destXMun" type="text" [(ngModel)]="nfe.destXMun">
                </div>

                <label for="destCPais" style="float: left; width: 70px;  margin-top: 2px; font-size: 0.7em;">Cod. Pais</label>
                <div class="col-sm-2" style="margin-top: 2px;" title="Código do país - Utilizar a tabela do BACEN ">
                  <input class="form-control" id="destCPais" [(ngModel)]="nfe.destCPais" placeholder="1058">
                </div>

                <label for="destXPais" style="float: left; width: 120px; margin-top: 2px; font-size: 0.7em;">Pais</label>
                <div class="col-sm-3"  style="float: left; margin-top: 2px; width: 310px;">
                    <input class="form-control" id="destXPais" type="text" [(ngModel)]="nfe.destXPais">
                </div>


            </div>
        </div>
        <div id="menu3" class="tab-pane fade">
        <h3>Não implementado</h3>
        <p>Inicialmente o produto será populado pelo back-end com apenas 1 produto, assim como os impostos e totalizadores</p>
        </div>
    </div>

    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Cancelar NF-e</h4>
          </div>
          <div class="modal-body">
              <label  for="chave" style="margin-top: 10px; float: left; width: 70px; font-size: 0.9em;">Chave</label>
              <div class="col-sm-10">
                <input class="form-control"  [(ngModel)]="cancelamento.chave" id="chave" type="text">
              </div>

              <label for="protocolo" style="margin-top: 10px; float: left; width: 70px; font-size: 0.9em;">Protocolo</label>
              <div class="col-sm-10" style="margin-top: 10px">
                <input class="form-control" [(ngModel)]="cancelamento.protocolo" id="protocolo" type="text">
              </div>

              <label for="motivo" style="margin-top: 10px; float: left; width: 70px; font-size: 0.9em;">Motivo</label>
              <div  class="col-sm-10"  style="float: left; margin-top: 2px;">
                  <textarea id="motivo" name="motivo" [(ngModel)]="cancelamento.motivo" rows="3" cols="52"></textarea>
              </div>
            
              
          </div>
          <div class="modal-footer"  style="margin-top: 150px">
            <button type="button" class="btn btn-success"  (click)="cancelar(cancelamento)" data-dismiss="modal">Salvar</button>
          </div>
        </div>
        
      </div>
    </div>
</div>