
<div class="container">   
  
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">NF-e Autorizado</a></li>
    <li><a data-toggle="tab" href="#menu1">NF-e Rejeitado</a></li>
    <li><a data-toggle="tab" href="#menu4">NF-e Cancelado</a></li>
    <li><a data-toggle="tab" href="#menu2">CT-e Autorizado</a></li>
    <li><a data-toggle="tab" href="#menu3">CT-e Rejeitado</a></li>
    <li><a data-toggle="tab" href="#menu5">CT-e Cancelado</a></li>
</ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <table class="table">
        <thead>
        </thead>
        <tbody>
          <tr *ngFor="let autorizado of nfesAutorizado">
            <td>{{autorizado}}</td>
          </tr>        
        </tbody>
      </table>
    </div>

    <div id="menu1" class="tab-pane fade">
      <table class="table">
        <thead>
        </thead>
        <tbody>
          <tr *ngFor="let rejeitado of nfesRejeitado">
            <td>{{rejeitado}}</td>
          </tr>        
        </tbody>
      </table>
    </div>

    <div id="menu4" class="tab-pane fade">
      <table class="table">
        <thead>
        </thead>
        <tbody>
          <tr *ngFor="let cancelado of nfesCancelado">
            <td>{{cancelado}}</td>
          </tr>        
        </tbody>
      </table>
    </div>

    <div id="menu2" class="tab-pane fade">
      <table class="table">
        <thead>
        </thead>
        <tbody>
          <tr *ngFor="let autorizado of ctesAutorizado">
            <td>{{autorizado}}</td>
          </tr>        
        </tbody>
      </table>
    </div>

    <div id="menu3" class="tab-pane fade">
      <table class="table">
        <thead>
        </thead>
        <tbody>
          <tr *ngFor="let item of ctesRejeitado">
            <td>{{item}}</td>
          </tr>        
        </tbody>
      </table>
    </div>

    <div id="menu5" class="tab-pane fade">
      <table class="table">
        <thead>
        </thead>
        <tbody>
          <tr *ngFor="let item of ctesCancelado">
            <td>{{item}}</td>
          </tr>        
        </tbody>
      </table>
    </div>

  </div>
</div>







